@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');


.jumbo {
  background-image: url("./assets/header-background.png");
  min-height: fit-content;
  height: 50%;
  padding: 1rem;
}

.header-text-container{
  margin: 10%;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

h1{
  color: white;
  font-weight: 900;
}

h2{
  color: #6EFFF4;
  font-weight: 600;
}

h3{
  color: #6EFFF4;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
